.border-green{
    border-top:6px solid #66BB6A
}

.border-yellowish{
    border-top:6px solid #FFC107;
}

.border-bluish{
    border-top:6px solid #40A4F4;
}

.border-cyanish{
    border-top:6px solid #00ACC1;
}



.border-reddish{
    border-top:6px solid #E53935;
}